/* add home page styles here */
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.right-nav-div {
    margin-left: 60%;
}

.hr-div {
    background-image: url('../assets/hr-img.png');
    height: 10px;
}

.article-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.article-title h1 {
    margin: 5px;
}

.article-title h5 {
    margin: 5px;
}